.main{
  background-image: url('https://images.pexels.com/photos/3636150/pexels-photo-3636150.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-position: center;
  background-repeat: no-repeat;
  height: 88.7vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 500px) {
 .main {
   align-items: flex-start;
   padding-top: 40px;
 }
}

.weather-data {
  color: white;
  font-size: 16px;
}

.weather-data img {
  border-radius: 999px;
  width: 35px;
}

.weather-data span {
 font-weight: 700;
}

input{
  border: 0.2px solid green;
  background:black;
}